configuration {
  font: "Iosevka Nerd Font 20";
  levenshtein-sort: false;
  kb-remove-to-eol: "";
  kb-accept-entry: "Control+m,Return,KP_Enter";
  kb-row-up: "Control+k,Control+p,Up";
  kb-row-down: "Control+j,Control+n,Down";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "./pinkdmenu.rasi"
